.homepage{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    background-image: url('computer.jpg');
    
}

.main-div{
    width: 45%;
    height: 500px;
    z-index: 1;
    background-color: lightgray;

  .inside-div{
        width: 50%;
        height: 450px;
        margin-top: 30px;
        display: flex;
        text-align: center;
    }
}

.profile{
    align-items: center;
    margin-left: 500px;
    width: 100px;
    justify-content: center;
    justify-items: center;
}